<div class="container-fluid">
    <div class="content-login col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <h2>LOGIN</h2>
        <form #loginForm="ngForm" (ngSubmit)="login()" autocomplet="off">

            <mat-form-field class="col-xs-12">
                <input matInput type="text" #name="ngModel" name="user" [(ngModel)]="user.user" required placeholder="Usuario" autofocus>
                <mat-error *ngIf="name.invalid">El usuario es requerido</mat-error>
            </mat-form-field>

            <mat-form-field class="col-xs-12">
                <input matInput type="password" #password="ngModel" name="password" [(ngModel)]="user.user" required placeholder="Password">
                <mat-error *ngIf="password.invalid">El password es requerido</mat-error>
            </mat-form-field>

            <button mat-raised-button class="btn-ingreso" type="submit" [disabled]="!loginForm.form.valid">INGRESAR</button>

        </form>
    </div>
</div>